@import url('normalize.css');
@import url('bootstrap.min.css');
body,html{
    margin:0;
    padding:0;
}
#colorFondo {
    background: linear-gradient(90deg, #77579C 0%, #FFFFFF 100%);
    
}/*este se llama mediante id="colorFondo*/

.enlace{

}---> este section llama mediante class /* se llama mediante class="enlace */

 .login{
     border:1px solid #e1e1e1;
     border-radius:5px;
     padding:17px;
     width:300px;
 }

----------------------------------------
.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.login-container h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
}

    .form-group label {
        display: block;
        font-weight: bold;
    }

    .form-group input[type="text"],
    .form-group input[type="password"] {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
    }

    .form-group input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #4caf50;
        color: white;
        border: none;
        cursor: pointer;
    }
    .logo-img {
    display: block;
    max-width: 70%;
    height: 163px;
    margin-bottom: 20px;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
